{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Login</h1>
    <div class="p-2 row">
        <div class="col-3"></div>
        <div class="col-6">
            <div>
                <p>Please log in to access your account.</p>
            </div>
            {% if session['attempts'] > 0 %}
            <form method="POST">
                <div class="p-2 bg-light border border-primary">
                    <div style="text-align: left">
                        {{ form.csrf_token() }}


                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        onclick=delete_flash(this)>
                                    <span>&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endwith %}
                        </div>


                        <div class="form-group">
                            {{ form.email.label }}<span style="color: red">*</span>
                            {{ form.email(class="form-control") }}
                            {% for error in form.email.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>


                        <div class="form-group">
                            {{ form.password.label }}<span style="color: red">*</span>
                            {{ form.password(class="form-control") }}
                            {% for error in form.password.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.pin.label }}<span style="color: red">*</span>
                            {{ form.pin(class="form-control") }}
                            {% for error in form.pin.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>


                        <div class="form-group">
                            {{ form.recaptcha }}  <!-- Render the reCAPTCHA widget here -->
                            {% for error in form.recaptcha.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                    </div>
                    <div>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </div>
            </form>
            {% else %}
            <div class="alert alert-danger mt-3">
                Your account is locked. Please <a href="{{ url_for('accounts.LOCKEDACC') }}">unlock your account</a> to try again.
            </div>
            {% endif %}

        </div>
        <div class="col-3"></div>
    </div>

</div>

{% endblock %}
